svg{
    cursor: pointer;
}

.container {
    position: absolute;
    width: 420px;
    height: 553px;
    text-align: center;
    margin: 114px 750px 414px 750px;
  }

  #login-form {
    display: inline-block;
    text-align: left;
  }
  

  h2 {
    font-size: 34px;
    margin-bottom: 48px;
    margin-top: 50px;
  }
  

  .login_input input {
    width: 420px;
    height: 53px;
    margin-bottom: 10px;
    border-color: #E6E6E6;
    border-radius: 2px;
    border-style: solid;
    padding: 10px;
  }
  
.checkbox-container{
    margin-top: 12px;
    width: 420px;
    height: 22px;
    align-items: center;
    display: flex;
}

.checkbox-container input{
    width: 20px;
    height: 20px;
    background-color: #1E90FF;
    cursor: pointer;
}

.checkbox-container label{
    margin-left: 10px;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}
  

.submit_button input[type="submit"] {
    cursor: pointer;
    margin-top: 28px;
    width: 420px;
    height: 58px;
    border: none;
    background-color: #1E90FF;
    color: white;
    font-size: 16px;
}

.findInfo-regist{
    height: fit-content;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.findInfo-regist span{
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}

hr{
    margin-top: 30px;
}

.apiLogin{
    width: 420px;
    height: 102px;
    text-align: center;
    margin-top: 32px;
}
.snsSpan{
    height: 24px;
}
.snsSpan span{
    font-size: 16px;
    color: #999999;
}

.apiLogos{
    height: 50px;
    display: flex;
    align-items: center;
    width: 420px;
    margin-top: 28px;
    padding: 0 100px 0 100px;
}

.oauth-login{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}

.oauth-login img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}